
body{
    font-family: 'Courier Prime', monospace;
}


.btnThemeMode{
    background: transparent;
    border: none;
    cursor:pointer;
}

.themeModeIcon{
    font-size: 1.5rem;
}

/* .themeModeIconDark{
    font-size: 1.5rem;
    color: #dee2e6;
    background-color: #212529;
} */

.navbar {
    background: white;
}

.navbar-darkmode {
    background-color: rgb(33, 37, 41);
}
/*
.nav-link {
    color: black
}

.nav-link.active{
    text-decoration: underline;
}
*/
.container {
    margin-top: 4rem;
}

.nav-link.active {
    text-decoration: underline;
}


.navbar {
    width: 95%;
}

.nav-bar {
    display: flex;
}

footer {
    position: fixed;
    text-align: center;
    height: 40px;
    bottom: 0;
    width: 100%;
    font-size: small;
}